
/*titulo de la galeria*/
.galeria h1 {
    color: rgb(82, 82, 149);
    text-align: center;
    margin-top: 20px;
}

/* Estilo para las imágenes con extensión .webp dentro de un div */
    div [src$=".webp"] {
    width: 300px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #750f0f;
    transition: transform 0.3s;
    margin: 0 auto;
    width: 300px;
}

/*centrar las cards*/
body table {
    margin: 0 auto;
    border-collapse: collapse;
}

/*tamaño de las cards*/
div [class^="imagen-galeria"] {
     width: 100%;
     height: 250px;
     object-fit: cover;
}

